<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->
<script>
    function getTimeStamp() {
       var now = new Date();
       return  ( now.getDate())+ '/' +((now.getMonth() + 1) + " - " + ((now.getHours() < 10) ? ("0" + now.getHours()) : (now.getHours())) + ':'+ ((now.getMinutes() < 10) ? ("0" + now.getMinutes()) : (now.getMinutes())));
}
</script>
<!-- Main site -->
<main id="site-main">
    <div class="container box-nav">
           <div class="filter">
               <a href="/" class="color btn btn-outline-primary button"> <i class="fas fa-angle-double-left"></i> All Stations</a>
           </div>
       <div class="form-title text-center">
           <div class="text-dark h2">Update Station</div>
           <!-- <span class="text-light h4">If verified, please update the availability of Oxygen with the Supplier</span> -->
       </div>

       <!-- add user form -->
       <!-- form handling -->
        <form method="POST" action="/api/users/" id="update_user">
            <div class="new-user">
                <!-- <div class="form-group container">
                    <label for="name" class="text-light">Name of station</label>
                    
                    <input type="text" name="name" value="<%=user.name %>" placeholder="Mark stoenis">
                </div> -->
                <!-- <div class="form-group">
                    <label for="location" class="text-light">Location</label>
                    <input type="text" name="location" value="<%=user.location %>" placeholder="123 GTB Nagar">
                </div> -->

                <!-- <div class="form-group">
                    <label for="gender" class="text-light">Gender</label>
                    <div class="radio inline">
                        <input type="radio" id="radio-2" name="gender" value="Male" <%= user.gender == 'Male' ? 'checked' : '' %>>
                        <label for="radio-2" class="radio-label">Male</label>
                    </div>
                    <div class="radio inline">
                        <input type="radio" id="radio-3" name="gender" value="Female"  <%= user.gender == 'Female' ? 'checked' : '' %> >
                        <label for="radio-3" class="radio-label">Female</label>
                    </div>
                </div> -->


                <!-- <div class="form-group">
                    <label for="city" class="text-light">City</label>
                    <select name="city" value="">
                        <option value="Gwalior" id=""<%= user.city == 'Gwalior' ? 'selected' : '' %>>Gwalior</option>
                        <option value="Indore" id="" <%= user.city == 'Indore' ? 'selected' : '' %>>Indore</option>
                    </select>
                </div> -->

                <div class="form-group container availability-box">
                    <input type="hidden" name="id" value="<%=user._id %>">
                    <label for="availability" class="text-light"><div class="text-lighter">If verified, please update the availability of Oxygen with the Supplier: </div></label>
                    <select name="availability" value="" class="input-box">
                        <!-- <option value="">--Please choose an option--</option> -->
                        <option value="Yes" id=""<%= user.availability == 'Yes' ? 'selected' : '' %>>Yes</option>
                        <option value="No" id="" <%= user.availability == 'No' ? 'selected' : '' %>>No</option>
                    </select>
                </div>
                
                    
                <!-- <div class="form-group">
                    <label for="timestamp" class="text-light">Timestamp</label>
                    
                </div> -->

                <div class="form-group container save-box">
                    <input name="timestamp" id="timestamp" type="hidden" value=""/>
                    <button type="submit" class="btn btn-outline-primary button" onclick="document.getElementById('timestamp').value=getTimeStamp()">Save</button>
                </div>
            </div>
        </form>
    </div>
</main>
<!-- /Main site -->

<!-- include footer-->
<%- include('include/_footer')%>
<!-- /include footer-->