<% for(var i=0;i<users.length;i++) {%>
  <div class="col-sm-4 outerbox">
    <!-- <div class="serial_number"><%=i+1%></div> -->
    <div class="box">
      <div class="row innerbox">
        <div class="container items-2">
          <div class="heading details"><%=users[i].name%></div>
          <div class="details">
            <!-- <strong>Address:</strong> -->
            <%=users[i].location%>
          </div>
          <div class="details">City: <strong><%=users[i].city%></strong></div>
          <div class="contact details">
            Contact: <strong><%= users[i].contact %></strong>
          </div>
          <div class="availability">Available: </><%= users[i].availability %></div>
        </div>
        <div class="container items">
          <div class="timestamp">Last Update: <strong><br><%= users[i].timestamp %></strong></div>
          <div class="btn btn-outline-primary button">
            <a href="/update-user?id=<%=users[i]._id%>" class="">
              <span class="text-button"
                >Update <i class="fas fa-pencil-alt"></i
              ></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%}%>
