<% for(var i=0;i<users.length;i++) {%>
  <div class="col-sm-4 outerbox">
    <!-- <div class="serial_number"><%=i+1%></div> -->
    <div class="box">
      <div class="row innerbox">
        <div class="container items-2">
          <div class="heading"><%=users[i].name%></div>
          <div class="details">
            <strong>Address:</strong> <%=users[i].location%>
          </div>
          <div class="details"><%=users[i].city%></div>
          <div class="contact">
            <strong>Contact:</strong> <%= users[i].contact %>
          </div>
          <div class="availability">Availability: </><%= users[i].availability %></div>
        </div>
        <div class="container items">
          <div class="btn btn-outline-primary button">
            <a href="/update-user?id=<%=users[i]._id%>" class="">
              <span class="text-button"
                >Update <i class="fas fa-pencil-alt"></i
              ></span>
            </a>
            <!-- <a class="btn border-shadow delete" data-id=<%=users[i]._id%>>
            <span class='text-gradient'><i class="fas fa-times"></i></span>
        </a> -->
          </div>
          
          <div class="timestamp"><%= users[i].timestamp %></div>
        </div>
      </div>
    </div>
  </div>
  <%}%></users.length;i++)
>
